.news {
  padding: 1rem;

  background-color: #fff8e7;
  border-radius: 4px;
  color: #16263e;
}
.news * {
  margin: 1rem 0;
}
.news-headline {
  font-size: 1.25rem;
  text-align: center;
}
.news-icon {
  margin: 0 45%;

  color: #16263e
}

@media screen and (min-width: 800px) {
  .news-headline {
    font-size: 2rem;
    text-decoration: underline;
  }
}