@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roberto Slab', "serif";
}
p, button, a, label, input {
  font-family: "Montserrat", sans-serif
}
.app {
  color: white;
  max-width: 100vw;
}
form {
  margin: 0 auto;
}
.crypto, .cat, .cosmic, .food, .joke, .news, .quote, .todo, .weather {
  width: 85vw;
  margin: 0 auto;
}
.cat-pic,.cosmic-picture, .food-image {
  max-width: 55vw !important;
  margin: 0 auto !important;
}
.food-image {
  margin-left: 30%;
}
h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 800px) {
  .crypto, .cat, .cosmic, .food, .joke, .news, .quote, .todo, .weather {
    width: 50vw;
    margin: 0 auto;
  }
}