footer {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}
.footer-title {
  margin: 1rem 0;
  padding: 0.25rem 0.5rem;
  width: fit-content;

  border: 1px  solid #fff8e7;
  border-radius: 2px;
  color: #fff8e7;
}
.footer-text {
  text-align: left;
}
.network-link-container {
  display: flex;
  justify-content: space-evenly;
}
.network-link, .support-link {
  color: #fff8e7;
  text-decoration: none;
}
.support-link {
  display: block;
}
.about{
  text-align: center;
}
.octocat{
  margin: 1rem auto;
  height: 4rem;
}
@media screen and (min-width: 700px) {
  .footer-text  {
    font-size: 1.5rem;
  }
}