.signup {
  margin: 2rem;
}
.signup-title, .signup-title-subtext {
  color: #FFF8E7;
  text-align: center;
  /* width: 80vw; */
  /* margin: auto; */
}
.signup-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.signup-title-subtext {
  margin: 0 0 1rem;

  font-size: 1.5rem;
  color: #16263E;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;

  border-radius: 4px;
  height: 80vh;
  background-color: #FFF8E7;
  color: #16263E;
}
.signup-item {
 display: flex;
 flex-direction: column;
}
.signup-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.signup-input {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 1.5rem;
  height: 3rem;
}
.signup-button {
  align-self: center;
  padding: 0.35rem 4rem;

  background-color: #16263E;
  border: none;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #FFF8E7;
}