.food {
  padding: 1rem;
  background-color: #FFF8E7;
  border-radius: 4px;
  color: #16263E;
}
.food * {
  margin: 1rem 0;
}
.food-name {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}
.food-refresh-icon {
  margin: 0 auto;
}
.food-image {
  display: block;
  width: fit-content;
  max-width: 80%;
  border-radius: 4px;
  margin: 1rem 0;
}
.food-url-icon , .food-refresh-icon{
  color: #16263E;
  display: block;
  margin: 0 auto;
}
.food-url-icon {
  margin: 0 45%;
}