.navbar {
  height: 4rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #16263E;
  border-bottom: 1px solid #FFF8E7;
  color: #FFF8E7;
}
.navbar-title {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #FFF8E7;
}

.navbar-left{
  display: flex;
  flex-direction: row;
  justify-items: center;
  
}

.nav-right {
  padding-right: 1rem;
}
.nav-nouser-links * {
  color: #FFF8E7;
  font-size: 1.3rem;
  margin: 0 .25rem;
  text-decoration: none;
}
.nav-links * {
  text-decoration: none;
  color: #FFF8E7;
  margin: 0 1rem;
}
.nav-links *:hover,.nav-nouser-links *:hover{
  background-color: #FFF8E7;
  border-radius: 2px;
  color: #16263E;
  padding: .5rem;
}

@media screen and (min-width: 700px) {
  .nav-links, .nav-nouser-links {
    font-size: 1.5rem;
  }
}