.landing {
  background: url("../../images/laptop-map.jpeg") no-repeat center;
  height: 90vh;
  display: flex;
}
.landing-content {
  margin: auto;
  color: #FFF8E7;
}
.landing-title, .landing-text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 0 0 5px 5px;
}
.landing-title {
  padding: 0.25rem 1rem; 
}
.landing-text {
  margin: auto;
  width: 50%;
  padding-bottom: 0.25rem;
  
  font-size: 1.25rem;
  font-weight: 500;
  text-align:center;
}

.description {
  margin: 2rem ;
  line-height: 1.8;
  font-size: 1.25rem;
}
.description-title {
   color: #FFF8E7;
   text-align: center;
   font-size: 2.5rem;
}
.description-info {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.description-list {
  margin: 1rem 3rem;
}

.registration {
  height: 90vh;
  position: relative;

  background: url("../../images/postcards-bg.jpeg") no-repeat;
  background-size: cover;
  text-align: center;
}
/* needs a handwritten font */
.registration-text {
  position: absolute;
  top: 24%;
  left: 42%;
  width: 50vw;
  
  color: black;
  font-size: 1.5rem;
  transform:rotate(340deg)
}

.registration-button {
 margin-top: 70vh;
 padding: .75rem 1rem;
 
 background-color: #16263E;
 border: none;
 border-radius: 5px;
 color: #FFF8E7;
 font-size: 1.25rem;

}