.landing {
  background: url("../../images/mobile-laptop-map.jpeg") no-repeat center;
  background-size: cover;
  height: 90vh;
  display: flex;
}
.landing-content {
  margin: auto;
  color: #FFF8E7;
}
.landing-title, .landing-text {
  color: #16263E;
  border-radius:  3px;
  text-shadow: 2px 2px #FFF8E7;
}
.landing-title {
  padding: 0.25rem 1rem; 
  margin: auto;
  text-align: center;
  width: 80vw;
  font-size: 2.5rem
}
.landing-text {
  margin: auto;
  width: 50%;
  padding-bottom: 0.25rem;
  
  font-size: 1.5rem;
  font-weight: 700;
  text-align:center;
}

.description {
  margin: 2rem ;
  line-height: 1.8;
  font-size: 1.25rem;
}
.description-title {
   color: #FFF8E7;
   text-align: center;
   font-size: 2.5rem;
}
.description-info {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.description-list {
  margin: 1rem 3rem;
}

.registration {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/mobile-postcards-bg.jpeg") ;
  background-position: center;
  background-size: cover;
  text-align: center;
}
/* needs a handwritten font */
.registration-text {
  width: 35vw;
  align-self:flex-end;
  margin:6.5rem 5rem 0;
  color: #FFF8E7;
  font-size: 1.5rem;
  font-weight: 600;
  transform:rotate(340deg);
  text-shadow: 2px 2px #16263E;

}

.registration-button {
 /* margin-top: 70vh; */
 padding: .75rem 1rem;
 
 background-color: #16263E;
 border: none;
 border-radius: 5px;
 color: #FFF8E7;
 font-size: 1.25rem;

}


@media screen and (min-width: 700px) {
  .landing {
    background: url("../../images/laptop-map.jpeg") no-repeat center;
    background-size: cover;
  }
  .landing-title {
    width: fit-content;
  }
  .landing-text {
    font-size: 1.75rem;
    width: 70%;
    padding:0.5rem 1rem;
  }
  
  .description {
    width: 65vw;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
  }
  .description-list li {
width: 50%;
margin: 0 auto;  }

  .registration {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/postcards-bg.jpg") no-repeat center;

    background-size: cover;
    justify-content:venter;
    max-height: 70vh;
  }
  .registration-text {
    border-radius: 3px;
    /* padding: 2rem; */
    width: 40vw;
    align-self:center;
    /* margin:5rem; */
    color: #16263E;
    font-size: 2rem;
    font-weight: 900;
  text-shadow: 2px 2px #FFF8E7;
    transform:rotate(0deg)
  }
}

