.login {
  margin: 2rem auto;
  max-width: 80vw;
}
.login-title, .login-subtitle {
  color: #FFF8E7;
  text-align: center;
  /* width: 80vw; */
  /* margin: auto; */
}
.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.login-subtitle {
  margin: 0 0 1rem;

  font-size: 1.5rem;
  color: #16263E;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;

  border-radius: 4px;
  height: 60vh;
  background-color: #FFF8E7;
  color: #16263E;
}
.login-item {
 display: flex;
 flex-direction: column;
}
.login-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.login-input {
padding-left: 1rem;

  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 2.5rem;
}
.login-button {
  align-self: center;
  padding: 0.35rem 4rem;

  background-color: #16263E;
  border: none;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #FFF8E7;
  cursor:pointer;
}