.crypto {
  padding: 2rem;
  background-color: #FFF8E7;
  border-radius: 4px;
  color: #16263E;
}
.crypto-item {
  margin: 1rem 0;
}
.crypto-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.crypto-name {
  font-weight: 600;
  font-size: 1.3rem;
  text-align:center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .crypto-item {
    display: grid;
    grid-template-areas: 
    "name price"
    "name percent"
    "hr hr";
  }
  .crypto-name {
    grid-area: name;
    width: 10vw;
  }
  .crypto-price {
    grid-area: price;
  }
  .crypto-percent {
    grid-area: percent;
  }
  .crypto-item hr {
    grid-area: hr;
    margin: 1rem;
  }
}